//
//  Config.xcconfig
//  KREAM
//
//  Created by 서재민 on 11/15/24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

KAKAO_NATIVE_APP_KEY = d8c3604548329e90b600178f621a813e
//실제로 사용할 때는 인포리스트에 집어넣기
//config 에서 설정해놓았기 때문에 인포 프로퍼티 리스트에서 접근할 수 있는 것 -> 실제 소스코드에서 번들인포로 특정상수를 가져올 수 있게된다.
//앱키 암호화
